<!DOCTYPE html>
<html>
<head>
    <title>E-Shop Styler</title>
	<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <script src='/js/jquery-3.2.1.js'></script>
    <script src="/js/popper.min.js"></script>
    <script src='/js/bootstrap.min.js'></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/">E-Shop Styler</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <form class="form-inline">
            <!--<input class="form-control mr-sm-2">-->
            <a href="/categories/Mens" class="nav-item nav-link mr-md-2">
                <button type="button" class="btn btn-danger">Men's Wear</button>
            </a>
            <a href="/categories/Womens" class="nav-item nav-link mr-md-2">
                <button type="button" class="btn btn-danger">Women's Wear</button>
            </a>
        </form>
    </div>
</nav>
<div class="container-fluid">
    {{#if error }}
        <h2 class="error-msg">{{error}}</h2>
    {{/if}}
    {{{body}}}
    <footer>
        Copyright - 2017 Kostadin Prosenikov
    </footer>
</div>
</body>
</html>
