h3 {
    font-size: 23px;
}
.top-element {
    padding: 78px 0 0 0;
}
.breadcrumb {
    background-color: white;
}
.container-fluid {
    width: 65%;
}
.description {
    margin: 10px 0 10px 0;
}
a.breadcrumbs {
    margin-right: 10px;
    margin-left: 10px;
}
footer {
    clear: both;
    height: 5em;
    margin-top: 10px;
    font-weight: bold;
}
.subcat {
    margin: 14px 0 18px 0;
}
.product {
    width: 50%;
    float: left;
    margin-bottom: 35px;
}
.products {
    margin-top: 50px;
}
.prod-description {
    position: absolute;
    z-index: 0;
    margin-left: 220px;
    width: 13%;
}
.catBigImage{
    width:100%;
    max-width:200px;
}
.moreInfo {
    position: absolute;
    margin-left: 20%;
    margin-top: -42px;
    border-radius: 25px;
}
.page_description {
    position: absolute;
    z-index: 0;
    margin-left: 31%;
    width: 39%;
    margin-top: 60px;
}
.prod_title {
    position: absolute;
    margin: 1% 0 0 31%;
}
.price_box_upsell {
    position: absolute;
    margin: 0 0 0 57%;
    width: 200px;
}
.buybutton {
    margin-left: -382px;
}
.price_info {
    margin-left: -40px;
    font-size: 25px;
}
.login-form {
    margin-top: 30px;
}
input {
    margin-bottom: 10px;
}