<h4 class="breadcrumbs breadcrumb top-element">
    <a class="breadcrumbs" href="/"> Home </a>
</h4>

<div class="main-cat">
    <h2 class="form-signin-heading">
        Please login first in order to buy the product
    </h2>

    <div class="row">
        <div class="col-lg-6">
            <form class="login-form">
                <label for="inputEmail" class="sr-only">Email address</label>
                <input id="inputEmail" class="form-control" placeholder="Email address" required=""
                       autofocus="" oldautocomplete="remove" autocomplete="off" type="email">
                <label for="inputPassword" class="sr-only">Password</label>
                <input id="inputPassword" class="form-control" placeholder="Password" required="" type="password">
                <div class="checkbox">
                    <label>
                        <input value="remember-me" type="checkbox"> Remember me
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </form>
        </div>
    </div>
</div>


