<h4 class="breadcrumbs breadcrumb top-element">
    <a class="breadcrumbs" href="/"> Home </a>
</h4>

<h1 class="">Categories</h1>
{{#each categories as |root|}}
<h2>{{root.name}}</h2>
    <div class="cat-description">
        {{root.page_description}}
    </div>
    <!--Root: {{root.}}-->
    {{#each root.categories as | subCat | }}
        <div class="subcat">
            <h3>{{../name}} - {{subCat.name}}</h3>
            <div class="catImage">
               <img src="/images/{{subCat.image}}" class="img-fluid" />
            </div>
            <p class="description">{{subCat.page_description}}</p>

            {{#each subCat.categories as |minicat| }}
                <div class="subcat">
                    <h3>{{../name}} - {{minicat.name}}</h3>
                    <div class="catImage">
                        {{#if minicat.image }}
                            <img src="/images/{{minicat.image}}" class="img-fluid" />
                        {{/if}}
                    </div>
                    <p class="description">{{minicat.page_description}}</p>
                    <a type="button" class="btn btn-dark" href="categories/{{minicat.id}}">View Products</a>
                </div>
            {{/each}}
        </div>
    {{/each}}
<hr>
{{/each}}