<h4 class="breadcrumbs breadcrumb top-element">
    <a class="breadcrumbs" href="/"> Home </a> /
    <a class="breadcrumbs" href="/categories/{{ name }}">{{ name }} </a>
</h4>

<div class="main-cat">
    <h1>Category {{ name }}</h1>
    {{#each categories as |root|}}
        <h2>{{root.name}}</h2>
        <div class="cat-description">
            {{root.page_description}}
        </div>
        <hr>
    {{/each}}
</div>

<div class="products">
    {{#each products as |product| }}
        <div class="product">
            <h3>{{name}}</h3>
            <p class="prod-description"> {{page_description}}</p>
                {{#timesCat image_groups as |images|}}
                {{/timesCat}}
            <div class="prices">
                <h4>Price: {{currency}} {{price}}</h4>
                <a href="/product/{{_id}}"><button class="btn btn-info moreInfo">More Info</button></a>
            </div>
        </div>
    {{/each}}
</div>


