<h4 class="breadcrumbs breadcrumb top-element">
    <a class="breadcrumbs" href="/"> Home </a> /
    <a class="breadcrumbs" href="/categories/{{product.primary_category_id }}">{{product.primary_category_id }} </a>/
    <a class="breadcrumbs" href="/product/{{ product._id }}">{{ product.name }}</a>
</h4>

<div class="product">
    <h3 class="prod_title">{{product.name}}</h3>
    <p class="page_description"> {{product.page_description}}</p>
    {{#bigImage product.image_groups }}
    {{/bigImage}}
    <div class="price_box_upsell">
        <div class="price_info" >
            Price: <span id="price_info"> {{product.price}}</span>
            <select name="currency" id="currSelect" onchange="changeTextFunc()">
                <option name="USD" selected >{{product.currency}}</option>
                <option name="EUR" >EUR</option>
            </select>
        </div>

        <a href="/buy/{{product._id}}">
            <button class="btn btn-info moreInfo buybutton">Buy Product</button>
        </a>
    </div>
</div>

<script>
    function changeTextFunc() {
        let currency = document.getElementById("currSelect").value;
        if (currency === "USD")
        {
            // GET product price in USD from MongoDB

            // let currentPrice = document.getElementById("price_info").innerHTML;
            // let newPrice = Number(currentPrice * 1.185704).toFixed(2);
            document.getElementById("price_info").innerHTML = "{{product.price}}";

        }
        else {
            // GET conversion rates from the API and convert the price

            let currentPrice = document.getElementById("price_info").innerHTML;
            let newPrice = Number(currentPrice * {{usdToEUR}}).toFixed(2);
            document.getElementById("price_info").innerHTML = "" + newPrice;
        }
    }
</script>